FastInterval,180
SlowInterval,86400
BatteryFastInfo.txt,4,20
Temperature,read,/sys/class/power_supply/bms,temp,1
Capacity,read,/sys/class/power_supply/bms,capacity,1
BatteryCurrent,read,/sys/class/power_supply/bms,current_now,0.001
BatteryResistance,read,/sys/class/power_supply/bms,resistance_now,1


BatterySlowInfo.txt,3,20
FullChargerDesign,read,/sys/class/power_supply/bms,charge_full_design,0.001
FullCharger,read,/sys/class/power_supply/bms,charge_full,0.001
CycleCount,read,/sys/class/power_supply/bms,cycle_count,1


BatteryVoltageInfo.txt,1,20
BatteryVoltage,read,/sys/class/power_supply/bms,voltage_ocv,0.001


CableVoltageInfo.txt,1,20
CableVoltage,onlinecheck,/sys/class/power_supply,type,online,voltage_now,0.001

